.credential {
  width: 400px;
  height: 450px;
  left: 50%;
  transform: translateX(calc(100% - 580px));
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
}
.credential__header {
  flex: 0.2;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.credential__content {
  flex: 0.9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.credential__content-form {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.credential__content-form > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.credential__content-form > form > input {
  margin: 0.5em;
  width: 275px;
  height: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  outline: none;
  padding: 0 0.125em 0 0.125em;
  font-size: 1.25rem;
  font-family: monospace;
}
.credential__info {
  margin: 0.25em;
  font-size: 1.5rem;
  color: bisque;
}
.credential__content-form > form > button {
  font-size: 1.25rem;
  background-color: transparent;
  border: 1px solid white;
  color: aquamarine;
  padding: 0.25em 1em 0.25em 1em;
  margin-top: 1em;
}
.credential__content-reg {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.credential__content-reg > button {
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid white;
  color: aquamarine;
  padding: 0.125em 3em 0.125em 3em;
}
.credential__content-terms {
  color: #eee;
  margin-top: 2em;
}
.credential__content-terms-special {
  color: orange;
  cursor: pointer;
}
.credential__content-input-container {
  height: 30px;
  width: 200px;
  margin: 0.5em 0 0.5em 0;
  background-color: transparent;
  padding: 0.5em;
}
.credential__content-input-char {
  line-height: 30px;
  color: black;
  font-size: 1.5rem;
  border-radius: 0.05em;
  background-color: aqua;
  margin-left: 0.125em;
}
.credential__content-input-inactive {
  background-color: rgba(255, 255, 255, 0.3);
}
.credential__content-input-selected {
  border: 2px solid white;
}
.credential__content-show {
  display: block;
}
.credential__content-hide {
  display: none;
}
.regex__container {
  width: 400px;
  position: absolute;
  top: 100%;
}
.regex__container > .regex__shown,
.regex__container > .regex__hidden {
  margin: 0.5em 0 0.5em 0;
}
.regex__hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
  animation: 200ms ease-in-out slideOut forwards;
}
.regex__shown {
  opacity: 1;
  visibility: visible;
  display: flex;
  animation: 200ms ease-in-out slideIn forwards;
}
.regex__dissapear {
    animation: 500ms ease-in-out 2000ms fadeOut forwards;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideOut {
  0% {
      opacity: 0;
      visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
        display: flex;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}
