.checkout {
 width: 100%;
 height: calc(100vh - 180px); 
 transform: translateX(-400px);
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 flex-direction: row;
 overflow-y: scroll;
}
.checkout__items {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
    flex-direction: column;
    max-width: 1500px;
    max-height: 700px;
    overflow-y: scroll;
}
.checkout__info {
    display: flex;
    justify-content: flex-start;
    width: max-content;
    align-items: center;
    flex-direction: column;
    background-color :rgba(0,0,0,.5);
    margin: 2em;
    padding: 2em;
}
.checkout__info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.checkout__subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
    font-size: 1.25rem;
    color: white;
}
.checkout__subtotal > strong {
    color: cyan;
}
.checkout__gift {
    font-size: 1.05rem;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.checkout__gift > input {
    margin-right: 0.5em;
}
.checkout__info > button {
    width: 200px;
    background-color: cyan;
    border: none;
    padding: 0.5em 0 0.5em 0;
}
.checkout__info > button:hover {
    background-color: orange;
}