.dropdown__option {
  flex: 0.25;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  color: white;
  letter-spacing: 0.25em;
  transition: all 100ms ease-in-out;
  border: 1px solid transparent;
  position: relative;
}
.dropdown__option > span {
  cursor: pointer;
  min-width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown__option > span:hover {
  color: cyan !important;
  border: 1px solid white !important;
}
.dropdown__option > span:hover ~ div {
  display: flex;
}
.dropdown__option-search {
  width: 700px;
  height: 200px;
  position: absolute;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid cyan;
  border-bottom: 1px solid cyan;
  border-right: 1px solid cyan;
}
.dropdown__option-search-last {
  right: 0;
}
.dropdown__option-search:hover {
  display: flex;
}
.dropdown__option-search-row {
  flex: 0.25;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.dropdown__option-search-row > span {
  flex: 0.3333;
  margin-left: 1em;
  color: black;
  letter-spacing: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem;
}
.dropdown__option-search-row > span:hover {
  color: lightcoral;
}
.dropdown__option-search-row > span > span {
  margin-left: 0.25em;
}
